<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>food-services-spec</id>
            <username>adam-shamaa</username>
            <password>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</password>
        </server>
    </servers>
</settings>